
// variables

$background: linear-gradient(30deg, rgb(255, 255, 255) 10%,#5f5f5f 30%, #000000 100%);
$background-titulo: red;
$color-titulos: #FFFFFF;
$color-h2: #C0C0C0;
$color-h3: black;
$color-h4: black;
$border-socios: black;

$font-size-titulo: 45px;
$font-size-redes: 25px;

// grid............................................


header {
    width: 100%;
    grid-area: header;   
}
nav {
    width: 100%;
    grid-area: nav;
}
main {
    width: 100%;
    grid-area: main;
}
footer {
    width: 100%;
    grid-area: footer;
}


.contenedor-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 3fr 1fr;
    grid-template-areas: 
      "header"
      "main"
      "footer";
}