@use '_commons' as c;

// footer.........................................

.contenedor-redes{
    font-family:'Rubik Distressed';
    text-align: center;
    text-shadow: 5px 5px 35px rgb(255, 255, 255);
    font-size: c.$font-size-redes;
    color: c.$color-textos;
    

    .redes{
        margin-top: 23px;
        width: 40px;
        height: 40px;
    }
}

