@use '_commons' as c;

// header.....................................

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titulo-index{
    background: c.$background-titulo;
    text-align: center;
    width: 100%;
    padding: 2px;
    border-radius: black;
    font-size: c.$font-size-titulo;
    box-shadow: 10px 10px 35px rgb(0, 0, 0);
    text-shadow: 5px 5px 15px rgb(0, 0, 0);
    border-radius: 20px;
    border: solid 7px rgb(0, 0, 0);
    
    transition: transform 1s, background-color 1s;

    &:hover {

        transform: scale(1.1);
        
    }
}

@media only screen and (min-width: 1200px) {
    .titulo-index{
        padding: 5px;
        margin-top: 60px;
        text-align: center;
        width: 100%;
        border-radius: 20px;
        font-size: 90px;
        
    }
}